@import 'variables';

@media (max-width: 820px) {
  .wrapper-with-close {
    margin: $space-large;    
    padding: $space-large $space;
  }

  .action-btn {
    font-size: 1rem;
  }

  .close-btn {
    width: 30px;
    height: 30px;
  }

  .form {
    input {
      font-size: 1rem;
    }
  }

  .div-stock {
    padding: $space-small;
  }
}