@import 'variables';

.div-wrapper {
  display: flex;
  flex-direction: row;
  margin: auto;  
}

.panel {
  display: flex;
  direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;
}

